<h1>Minha tela</h1>
<p>essa é a action referente ao HomeController ação action MinhaTela</p>


<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThke7I05CQNSJNsAPHaKCaza7JI8sVqMKNEryToTWsEg&s"/>
<img src="~/natureza.jpg"/>

<table class="table table-striped" 
<thead>
  <tr>
      <th>ID</th>
      <th>NOME</th>
      <th>IDADE</th>
  </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Leticia</td>
        <td>19</td>
    </tr>

     <tr>
        <td>2</td>
        <td>Luigi</td>
        <td>18</td>
    </tr>

     <tr>
        <td>3</td>
        <td>jose</td>
        <td>40</td>
    </tr>
</tbody>


</table>
